<!DOCTYPE html>
<head>
    {% block head %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Reddeos | Reddit's Top Videos</title>
        <meta name="description" content="Top videos on reddit streaming">
        <meta name="keywords" content="Reddit,Videos">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css">
        <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="shortcut icon" href="/static/images/pww_48.png" />
        {% assets filters='compass,scss,cssmin', depends='styles/**/*.scss', output='styles/site.min.css', 'styles/site.scss'%}
            <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
        {% endassets %}
    {% endblock head %}

</head>
<body>
    {% block content %}
    {% endblock content %}
    {% block scripts %}
        <script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>

        {# compiles all vender scripts to vendor.min.js #}
        {% assets filters='jsmin', output='scripts/dist/vendor.min.js', 'scripts/vendor/*.js' %}
            <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}

        {# compiles all src scripts to script.min.js #}
        {# filters='jsmin', #}
        {% assets output='scripts/dist/script.min.js', 'scripts/src/*.js' %}
            <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}
    {% endblock scripts %}
</body>
</html>
