{% extends 'base.html' %}
{% block content %}
    <div class="video-container" data-container id="youtube-video-container"></div>
    <div class="video-container" data-container id="vimeo-video-container"></div>
    <div class="loading" data-loading>
        <i class="fa fa-circle-o-notch fa-spin"></i>
    </div>
    <div class="hud">
        <div class="hud-internal">
            <p class="rank" data-rank></p>
            <p class="title" data-title></p>
            <p class="url" data-url></p>
            <p class="next">Next</p>
            <p class="previous">Previous</p>
        </div>
        <i class="fa fa-chevron-down pull-down" data-hud-toggle></i>
    </div>
    <div class="hidden">
        <a id="parser" href="#"></a>
    </div>
{% endblock content %}
