{% extends 'base.html' %}
{% block content %}
	<div ng-app="reddeo">
		<div ng-controller="FooController">{[{ foo }]}</div>
    <div class="video-container" data-container id="youtube-video-container"></div>
    <div class="video-container" data-container id="vimeo-video-container"></div>
    <div class="loading" data-loading>
        <i class="fa fa-circle-o-notch fa-spin"></i>
    </div>
    <div class="hud" data-hud-toggle>
        <div class="hud-internal">
            <p class="rank" data-rank></p>
            <p class="title" data-title></p>
            <p class="url" data-url></p>
            <div class="controls">
                <i data-previous class="fa fa-backward"></i>
                <i data-next class="fa fa-forward"></i>
            </div>
            <select data-video-select>
                <option>Select Video</option>
            </select>
        </div>
        <i class="fa fa-chevron-down pull-down"></i>
    </div>
    <div class="hidden">
        <a id="parser" href="#"></a>
    </div>
	</div>
{% endblock content %}
